*::before,
*::after,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

#game-board {
  height: 100vh;
  width: 100vw;
  display: flex;
  pointer-events: none;
}

#game-board > div,
#battleground > div {
  flex: 1;
  border: solid 1px;
}

#battleground {
  display: flex;
  flex-direction: column;
}

#player,
#cpu {
  display: flex;
  flex-direction: column;
}

.avatar,
.menu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px;
}

.placeholder-portrait {
  width: 80%;
  height: 80%;
  border: solid;
}

button {
  border: solid;
  margin: 0.25rem;
  width: 30%;
  height: 30%;
  pointer-events: auto;
}

#player-side,
#cpu-side {
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-board > #outcome {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.outcome-text-animation {
  animation: fadeInOut 3s ease-in-out;
  animation-fill-mode: forwards;
}

#outcome-text.hidden {
  display: none;
}

#outcome-text {
  font-size: 8rem;
  pointer-events: none;
}
