:root {
  font-family: "Bungee", cursive;
  color: var(--primary-clr-1);
  --primary-clr-1: #faed26;
  --secondary-clr-1: #46344e;
  --primary-clr-2: #5a5560;
  --secondary-clr-2: #9d8d8f;
  --secondary-clr-3: #9b786f;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--primary-clr-2);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  font-size: 3rem;
}

.sub-header {
  font-size: 1.25rem;
}

.card,
.card-center {
  padding: 1rem;
  border-radius: 1rem;
}

.card {
  background-color: var(--secondary-clr-2);
  width: 90vw;
  display: flex;
  justify-content: space-around;
}

.card-center {
  background-color: var(--secondary-clr-1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.play {
  font-size: 3rem;
}

.top,
.bottom {
  gap: 0.5rem;
}

.outcome-desc,
.p-score,
.cpu-score,
.score-label {
  font-size: 1.5rem;
  text-align: center;
  display: block;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: solid;
}

.img-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.p-btn:hover {
  cursor: pointer;
}

button {
  color: var(--primary-clr-1);
  background-color: var(--secondary-clr-3);
  border-radius: 1rem;
  border: solid;
  font-family: "Bungee", cursive;
  font-size: 1rem;
  margin: 0.5rem;
  padding: 0.5rem;
}

button:hover,
button:active {
  cursor: pointer;
}

button:active {
  background-color: var(--primary-clr-1);
  color: #000000;
}

.hidden {
  visibility: hidden;
}

.rotate {
  animation: rotation 1s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@media screen and (max-width: 800px) {
  * {
    font-size: 0.5rem;
    text-align: center;
  }

  span {
    font-size: 1.5rem;
  }

  .card {
    min-width: 98vw;
  }

  img {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 375px) {
  .card {
    min-width: 365px;
  }
}
